.horizontal-align{
    display: flex;
    justify-content: center;
}
.text-white{
    color: #f3f3f3;;
    font-weight: 400;
}
#body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#body .container .top{
    text-align: center;
}
#body .container .top .heading{
    font-size: 1.8rem;
}
#body .container .top .bottom-heading{
    font-style: italic;
    font-weight: 200;
}
.question{
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
#body .container .main-parent .main{
    background-color:#1b1b32 ;
    width: 50%;
}
#body .container .main-parent .main .main-child{
    margin-bottom: 1.25rem;
    padding: 0.25rem;
}
#body .container .main-parent .main .main-child .input{
    color: #f3f3f3;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.radio-button{
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
#body .container .main-parent .main .main-child .input  .check-box{
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
.input-text{
    border: 0;
    padding: 0;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#last-input{
    height: 12vh;
}
.hara-submit{
    text-align: center;
    background: #37af65;
    padding: 0.75rem;
    color: #f3f3f3;
    font-weight: 400;
    
}